Wow.exe
Wow-64.exe
World of Warcraft Launcher.exe
WoW.mfil
BlizzardError.exe
170820.zip
.product.db
.patch.result
.curseclient
.build.info
Launcher.db
dbghelp.dll
Cache/
Data/
Logs/
Screenshots/
Utils/
*.bak
